.Header {
  background-color: #121212; /* Darker header background */
  padding: 20px;
  color: white;
}

.Header nav ul {
  list-style: none;
  padding: 0;
}

.Header nav ul li {
  display: inline;
  margin: 0 10px;
}

.Header nav ul li a {
  color: #bb86fc; /* Light purple for navigation links */
  text-decoration: none;
}